# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
*.exe
*.dll

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
Versions/Microsoft.Data.Edm.xml
Versions/Microsoft.Data.OData.xml
Versions/Microsoft.Data.Services.Client.xml
Versions/Microsoft.WindowsAzure.Storage.pdb
Versions/Microsoft.WindowsAzure.Storage.xml
Versions/pbXNet.dll.config
Versions/System.Spatial.xml
Versions/Microsoft.Azure.KeyVault.Core.xml
