public final class version {
    public final static String name = "${version}";
    public final static int major   = ${major};
    public final static int minor   = ${minor};
    public final static int build   = ${build};
}
    