*.log
*.pyo
*.pyc
*.class

.settings
.atta
.repository

.build
build
dist
bin

/docs/html
/docs/modules
/docs/modules_user
/docs/targets.rst
/docs/tasks.rst
/docs/tools.rst
/docs/*_user.rst
/docs/*_dev.rst

/tests/test_Java
/tests/JavaMedium/archive

/tests/JavaMedium/password.properties
/tests/JavaMedium/deploy.properties
/tests/JavaBasic/version.info
/tests/JavaMedium/v.i
/tests/version.info
/tests/JavaMedium/version.java
/version.info
/tests/test_ver.info